@model CategoryVM
@{
    ViewBag.Title = "CategoryList";
}

<section class="panel">
    <header class="panel-heading">
        @Html.ActionLink("Add Category","AddCategory","Category",null, new {@class = "btn btn-primary"})
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th class="hidden-phone">Category Description</th>
                        <th class="hidden-phone">Status</th>
                        <th class="hidden-phone">Delete</th>
                        <th class="hidden-phone">Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category item in Model.Categories)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>@item.CategoryName</td>
                            <td class="hidden-phone">@item.Description</td>
                            <td class="center hidden-phone">@item.Status</td>
                            <td class="center hidden-phone">@Html.ActionLink("Delete","DeleteCategory", new {id=item.ID}, new {@class = "btn btn-danger"})</td>
                            <td class="center hidden-phone">@Html.ActionLink("Update","UpdateCategory", new {id=item.ID}, new {@class = "btn btn-warning"})</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</section>
<script src="~/Areas/AdminScripts/AdminCategoryDTJ.js"></script>

