@model OrderVM
@{
    ViewBag.Title = "ConfirmOrder";


}

<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label class="col-sm-2 control-label"> Shipping Address </label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.Order.ShippedAddress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Credit Card Number </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PaymentDTO.CardNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Credit Card Security Number </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PaymentDTO.SecurityNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Expiry Year </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PaymentDTO.CardExpiryYear, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Expiry Month </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PaymentDTO.CardExpiryMonth, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Credit Card User Name </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.PaymentDTO.CardUserName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Email </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Order.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Confirm Order </label>
            <div class="col-sm-10">
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>
    }

</div>

